# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables
.env

# Video and ML model files
*.mp4
*.avi
*.mkv
*.onnx
weights/
runs/
models/*.pt
!models/.gitkeep
yolov8n.pt

# IDEs and OS
.vscode/
.idea/
.DS_Store

*.jpg